body {
  background-color: #f4f1de;
  color: #606c38;
  font-family: Arial, Helvetica, sans-serif;
}
.jumbotron {
  background-color: #f4f1de;
}
.jumbotron h1 {
  font-size: 48px;
  font-weight: bold;
}
.card {
  background-color: #f4f1de;
}
.leftjumbo {
  float: left;
}
.rightjumbo {
  float: right;
  float: top;
}
.imgcenter {
  margin: auto;
  width: 200px;
  height: auto;
  display: block;
  border-radius: 50% !important;
}
.box1 {
  width: 10%;
  float: right;
  border-radius: 20px;
  background-color: #e9ecef;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.box2 {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 10%;
  border-radius: 50px;
  background-color: #606c38;
  text-align: center;
}
.whitelink {
  color: #f4f1de;
}
.btn-outline-secondary {
  color: #606c38;
  border-color: #606c38;
}
.slightbold {
  font-style: oblique;
  font-weight: 650;
}